*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo img, .logo p, .menu i, .menu img{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}

.logo img{
    height: 40px;
}

.menu img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.fa-grid{
    font-size: 20px;
}

.capitoli{
    padding:0 0 10px 10px;
}

.capitoli, .lista-footer{
    display: flex;
    list-style-type: none;
}

li{
    padding: 0 10px;
}

.active{
    color: rgb(31, 127, 182);
}

.container{
    padding: 50px 0;
}

.container, .container-footer-menu{
    width: 60%;
    margin: 0 auto;
}

.container-footer{
    background-color: rgb(190, 190, 190);
}

.container-footer-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

button{
    padding: 3px 100px 3px 8px;
    border-radius: 20px;
    border: none;
    position: relative;
}

.fa-angle-down{
    position: absolute;
    right: 10px;
}
